<body id="bg">
  <div class="page-wraper">
    <ngx-spinner>
      <p style="color: white">Loading...</p>
    </ngx-spinner>
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- contact area -->
      <div class="content-block">
        <!-- Browse Jobs -->
        <div class="section-full bg-white p-t50 p-b20">
          <div class="container">
            <div class="row">
              <div class="col-xl-2 col-lg-2 m-b30">
                <div class="sticky-top">
                  <div class="candidate-info company-info">
                    <div class="candidate-detail text-center">
                      <div class="canditate-des">
                        <a href="javascript:void(0);">
                          <img alt="" src="../assets/images/logo/logo.png" />
                        </a>
                      </div>
                      <div class="candidate-title">
                        <h4 class="m-b5">
                          <a
                            href="javascript:void(0);"
                            style="font-size: 1.2rem"
                            >FINANCE</a
                          >
                        </h4>
                      </div>
                    </div>
                    <ul>
                      <li *ngFor="let a of moduleArray; let i = index">
                        <a
                          (click)="navigateTo(a)"
                          class="oldclass"
                          id="clsActive{{ a.submodule_id }}"
                        >
                          <i class="fa fa-id-card-o" aria-hidden="true"></i>
                          <span>{{ a.submodule_name_lower }}</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-10 col-lg-10 m-b30">
                <div class="job-bx clearfix">
                  <div class="job-bx-title clearfix">
                    <h5 class="font-weight-700 pull-left text-uppercase">
                      Payroll Approval
                    </h5>
                  </div>

                  <div class="job-bx-title clearfix">
                    <div class="form-group" style="display: flex">
                      <div>
                        <label style="font-size: 14px">Client</label>
                        <select
                          class="form-control"
                          [(ngModel)]="client_id1"
                          #myClient1
                          (change)="onOptionsSelected(myClient1.value)"
                        >
                          <option value="ALL" selected>All</option>
                          <option
                            *ngFor="let data of clientList1"
                            [value]="data.client_id"
                            style="text-transform: capitalize"
                          >
                            {{ data.client_name }}
                          </option>
                        </select>
                      </div>

                      <div style="margin-left: 12px">
                        <label style="font-size: 14px">Year</label>
                        <select
                          class="form-control"
                          [(ngModel)]="year1"
                          #myyear2
                          (change)="onYearSelected2(myyear2.value)"
                        >
                          <option value="ALL" selected>All</option>
                          <option
                            *ngFor="let data of yearList2"
                            [value]="data.year"
                            style="text-transform: capitalize"
                          >
                            {{ data.year }}
                          </option>
                        </select>
                      </div>

                      <div style="margin-left: 12px">
                        <label style="font-size: 14px">Month</label>
                        <select
                          class="form-control"
                          [(ngModel)]="month1"
                          #myMonth2
                          (change)="onMonthSelected2(myMonth2.value)"
                        >
                          <option value="ALL" selected>All</option>
                          <option
                            *ngFor="let data of monthList2"
                            [value]="data.month"
                            style="text-transform: capitalize"
                          >
                            {{ data.month }}
                          </option>
                        </select>
                      </div>

                      <div style="margin-left: 12px">
                        <label style="font-size: 14px">Week</label>
                        <select class="form-control" [(ngModel)]="week1">
                          <option value="ALL" selected>All</option>
                          <option
                            *ngFor="let data of weekList2"
                            [value]="data.week_id"
                            style="text-transform: capitalize"
                          >
                            {{ data.wk_start_date }} - {{ data.wk_end_date }}
                          </option>
                        </select>
                      </div>

                      <div>
                        <div
                          style="display: inline-block; margin-bottom: 0.5rem"
                        ></div>
                        <div
                          type="button"
                          class="site-button2"
                          (click)="searchList()"
                        >
                          View
                        </div>
                      </div>
                    </div>
                  </div>

                  <table class="table-job-bx cv-manager company-manage-job">
                    <thead>
                      <tr>
                        <th class="feature"></th>
                        <th>Payroll File no.</th>
                        <th>Client</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Week</th>
                        <th>Status</th>
                        <th style="text-align: center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let a of payrollDataListMain
                            | paginate
                              : { itemsPerPage: count, currentPage: page }
                        "
                      >
                        <td class="feature"></td>
                        <td class="application text-primary">
                          <a>{{ a.file_no }}</a>
                        </td>
                        <td class="application text-primary">
                          <a>{{ a.client_name }}</a>
                        </td>
                        <td class="application text-primary">{{ a.year }}</td>
                        <td class="application text-primary">
                          <a>{{ a.month }}</a>
                        </td>
                        <td class="application text-primary">
                          <a>{{ a.wk_start_date }} - {{ a.wk_end_date }}</a>
                        </td>
                        <td
                          class="expired pending"
                          style="text-transform: capitalize"
                          *ngIf="a.approval_status === 'not_processed'"
                        >
                          <a>Not Processed</a>
                        </td>
                        <td
                          class="expired success"
                          style="text-transform: capitalize"
                          *ngIf="a.approval_status === 'approved'"
                        >
                          <a>Approved</a>
                        </td>

                        <td class="job-links">
                          <div class="dropdown">
                            <a href="javascript:void(0);">
                              <i class="fa fa-cog"></i
                            ></a>
                            <div class="dropdown-content">
                              <a
                                href="avascript:void(0);"
                                (click)="editSubmit(a)"
                                data-toggle="modal"
                                data-target="#processPayrollSecond"
                                *ngIf="a.approval_status !== 'approved'"
                                >Edit & Approve
                              </a>
                              <a
                                href="avascript:void(0);"
                                href="https://api.vishusa.com:8000/vcsapi/get/api/approval_status/approved/accountfiledata/download/excelfile/{{
                                  user_id
                                }}/{{ a.acc_file_id }}/{{ excelfileName }}"
                                target="_blank"
                                rel="noopener noreferrer"
                                download
                                >Download
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="pagination">
                    <pagination-controls
                      *ngIf="payrollDataListMain.length"
                      class="product-pagination"
                      autoHide="false"
                      maxSize="8"
                      (pageChange)="onPageChanged($event)"
                    ></pagination-controls>
                  </div>
                  <!-- Edit and Approve Modal -->
                  <div
                    class="modal fade modal-bx-info editor"
                    id="processPayrollSecond"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="EducationModalLongTitle"
                    aria-hidden="true"
                    *ngIf="showModalBox"
                  >
                    <div
                      class="modal-dialog"
                      role="document"
                      style="max-width: 80% !important"
                    >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="EducationModalLongTitle">
                            Edit and Approve
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            #processSecondClose
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div
                          class="modal-body"
                          *ngIf="payrollDataList.length !== 0"
                        >
                          <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                              <div class="clearfix m-b20" style="display: flex">
                                <label class="m-b0">Client :&nbsp;&nbsp;</label>
                                <span
                                  class="clearfix font-13"
                                  style="margin-top: 3px"
                                  >{{ payrollDataList[0].client_name }}
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                              <div class="clearfix m-b20" style="display: flex">
                                <label class="m-b0">Month :&nbsp;&nbsp;</label>
                                <span
                                  class="clearfix font-13"
                                  style="margin-top: 3px"
                                  >{{ payrollDataList[0].month }}</span
                                >
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                              <div class="clearfix m-b20" style="display: flex">
                                <label class="m-b0">Week :&nbsp;&nbsp;</label>
                                <span
                                  class="clearfix font-13"
                                  style="margin-top: 3px"
                                  >{{ payrollDataList[0].wk_start_date }} -
                                  {{ payrollDataList[0].wk_end_date }}
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                              <div class="clearfix m-b20" style="display: flex">
                                <label class="m-b0">Year :&nbsp;&nbsp;</label>
                                <span
                                  class="clearfix font-13"
                                  style="margin-top: 3px"
                                  >{{ payrollDataList[0].year }}</span
                                >
                              </div>
                            </div>

                            <table
                              class="table-job-bx cv-manager company-manage-job"
                            >
                              <thead>
                                <tr>
                                  <th class="feature"></th>
                                  <th>Applicant Name</th>
                                  <th>Job ID</th>
                                  <th>Reg. Hr.</th>
                                  <th>OT Hr.</th>
                                  <th>Holiday Hr.</th>
                                  <th>Taxable Income</th>
                                  <th>Non-Taxable Income</th>
                                  <th>Gross</th>
                                  <th>Invoice (After ded)</th>
                                  <th>Profit</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  *ngFor="
                                    let a of payrollDataList;
                                    let i = index
                                  "
                                >
                                  <td class="feature"></td>

                                  <td
                                    class="application text-primary"
                                    *ngIf="a.payroll_status === 'inprocess'"
                                    style="color: red !important"
                                  >
                                    {{ a.user_first_name }}
                                    {{ a.user_middle_name }}
                                    {{ a.user_last_name }}
                                  </td>
                                  <td
                                    class="application text-primary"
                                    *ngIf="a.payroll_status === 'submitted'"
                                    style="color: blue !important"
                                  >
                                    {{ a.user_first_name }}
                                    {{ a.user_middle_name }}
                                    {{ a.user_last_name }}
                                  </td>
                                  <td
                                    class="application text-primary"
                                    *ngIf="a.payroll_status === 'approved'"
                                  >
                                    {{ a.user_first_name }}
                                    {{ a.user_middle_name }}
                                    {{ a.user_last_name }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.job_no }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.reg_hr }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.ot_hr }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.holiday_hr }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.taxable_amt }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.nontaxable_amt }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.gross_amt }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.deducted_invoice_amt }}
                                  </td>
                                  <td class="application text-primary">
                                    {{ a.profit_amt }}
                                  </td>
                                  <td class="application text-primary">
                                    <div
                                      class="appCount"
                                      style="
                                        background-color: #563a10;
                                        width: 72px;
                                        margin-left: -10px;
                                      "
                                      (click)="openCalculation(a)"
                                      data-toggle="modal"
                                      data-target="#calculatePayrole"
                                    >
                                      Edit
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button
                            type="button"
                            class="site-button"
                            data-dismiss="modal"
                          >
                            Back
                          </button>
                          <button
                            type="button"
                            class="site-button"
                            (click)="approvePayroll()"
                            [disabled]="submitErr === 'true'"
                            [ngStyle]="{
                              cursor:
                                submitErr === 'true' ? 'not-allowed' : 'pointer'
                            }"
                          >
                            Approve
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal End -->

                  <!-- Calculate Payrole Modal -->
                  <div
                    class="modal fade modal-bx-info editor"
                    id="calculatePayrole"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="EducationModalLongTitle"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog"
                      role="document"
                      style="max-width: 60% !important"
                    >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="EducationModalLongTitle">
                            Calculate Weekly Pay
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            #calculatePayroleClose
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" *ngIf="details && data">
                          <form>
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Applicant Name :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >{{ details.user_first_name }}
                                    {{ details.user_middle_name }}
                                    {{ details.user_last_name }}</span
                                  >
                                </div>
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Client :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >{{ details.client_name }}</span
                                  >
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Job ID :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >{{ details.job_no }}</span
                                  >
                                </div>
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0">Week :&nbsp;&nbsp;</label>
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >{{ details.wk_start_date }} -
                                    {{ details.wk_end_date }}</span
                                  >
                                </div>
                              </div>
                              <div class="divider"></div>

                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Regular Bill rate :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$
                                    {{ data.onb_regular_bill_rate }}
                                  </span>
                                </div>
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Regular Pay rate :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ data.onb_regular_pay_rate }}</span
                                  >
                                </div>
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Weekly per Diem :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ data.per_dieum_wk }}</span
                                  >
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >OT Bill Rate :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ data.onb_ot_bill_rate }}</span
                                  >
                                </div>
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >OT Pay Rate :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$
                                    {{ data.onb_ot_pay_rate }}
                                  </span>
                                </div>
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Shift (Hour/Week) :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                  >
                                    {{ data.total_shift_hr }} Hour
                                  </span>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Holiday Bill Rate :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ data.onb_holiday_bill_rate }}</span
                                  >
                                </div>
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Holiday Pay Rate :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$
                                    {{ data.onb_holiday_pay_rate }}
                                  </span>
                                </div>
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >OT Starts after (Hour) :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                  >
                                    {{ data.ot_starts_after_wk }} Hour
                                  </span>
                                </div>
                              </div>

                              <div class="divider"></div>

                              <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                  <label
                                    >Regular Hour<span style="color: red"
                                      >*</span
                                    ></label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Hour"
                                    [(ngModel)]="regular_hr"
                                    [ngModelOptions]="{ standalone: true }"
                                    (input)="changetotalHr($event)"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                  <label
                                    >OT Hour<span style="color: red"
                                      >*</span
                                    ></label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Hour"
                                    [(ngModel)]="ot_hr"
                                    [ngModelOptions]="{ standalone: true }"
                                    (input)="changetotalHr($event)"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                  <label
                                    >Holiday Hour<span style="color: red"
                                      >*</span
                                    ></label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter hour"
                                    [(ngModel)]="holiday_hr"
                                    [ngModelOptions]="{ standalone: true }"
                                    (input)="changetotalHr($event)"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                  <label
                                    >Bonus Amount ($/Week)<span
                                      style="color: red"
                                      >*</span
                                    ></label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Amount"
                                    [(ngModel)]="bonus_amount"
                                    [ngModelOptions]="{ standalone: true }"
                                    step="0.01"
                                    min="0"
                                    id="RpayRate"
                                    oninput="RpayRate.value>0||(value='');"
                                    (input)="changetotalHr($event)"
                                  />
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                  <label
                                    >Weekly Per Diem ($)<span style="color: red"
                                      >*</span
                                    ></label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Amount"
                                    [(ngModel)]="weekly_per_diem"
                                    [ngModelOptions]="{ standalone: true }"
                                    step="0.01"
                                    min="0"
                                    id="OTpayRate"
                                    oninput="OTpayRate.value>0||(value='');"
                                    (input)="changetotalHr($event)"
                                  />
                                </div>
                              </div>

                              <div class="divider"></div>

                              <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                  <label
                                    >Misc. Expense ($)<span style="color: red"
                                      >*</span
                                    ></label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Amount"
                                    [(ngModel)]="misc_exp_amt"
                                    [ngModelOptions]="{ standalone: true }"
                                    step="0.01"
                                    min="0"
                                    id="miscAmt"
                                    oninput="miscAmt.value>0||(value='');"
                                    (input)="changetotalHr($event)"
                                  />
                                </div>
                              </div>

                              <div class="divider"></div>

                              <div class="col-lg-12 col-md-12 col-sm-12">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Total hours Worked :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >{{ total_hr_worked }} Hour</span
                                  >
                                </div>
                              </div>

                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Taxable Income ($) :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ taxable_income }}</span
                                  >
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Non-Taxable Income ($) :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ non_taxable_income }}</span
                                  >
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Gross Income :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ total_gross_income }}</span
                                  >
                                </div>
                              </div>

                              <div
                                class="col-lg-12 col-md-12"
                                style="margin-top: 10px"
                              >
                                <div class="form-group">
                                  <label>Comments</label>
                                  <textarea
                                    type="text"
                                    class="form-control"
                                    rows="4"
                                    cols="50"
                                    placeholder="Enter Comment"
                                    [(ngModel)]="comment"
                                    [ngModelOptions]="{ standalone: true }"
                                  ></textarea>
                                </div>
                              </div>

                              <div class="divider"></div>

                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Invoice Amount ($) :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ invoice_amount }}</span
                                  >
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                  <label
                                    >Deduction (%)<span style="color: red"
                                      >*</span
                                    ></label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter %"
                                    [(ngModel)]="deduction_rate"
                                    [ngModelOptions]="{ standalone: true }"
                                    step="0.01"
                                    min="0"
                                    id="RbillRate"
                                    oninput="RbillRate.value>0||(value='');"
                                    (input)="changeDeduction($event)"
                                  />
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Invoice after Deduction ($)
                                    :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ invoice_after_deduction }}</span
                                  >
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <div
                                  class="clearfix m-b20"
                                  style="display: flex"
                                >
                                  <label class="m-b0"
                                    >Profit ($/Week) :&nbsp;&nbsp;</label
                                  >
                                  <span
                                    class="clearfix font-13"
                                    style="margin-top: 3px"
                                    >$ {{ profit }}</span
                                  >
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="site-button"
                            data-dismiss="modal"
                          >
                            Back
                          </button>
                          <button
                            type="button"
                            class="site-button"
                            (click)="submitPayroll()"
                          >
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal End -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Browse Jobs END -->
      </div>
    </div>
    <!-- Content END-->
    <button class="scroltop fa fa-chevron-up"></button>
  </div>
</body>
