<body id="bg">
  <div class="page-wraper">
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- inner page banner -->
      <div
        class="dez-bnr-inr overlay-black-middle"
        style="background-image: url(../assets/images/banner/privacy.jpg)"
      >
        <div class="container">
          <div class="dez-bnr-inr-entry">
            <h1 class="text-dark">Privacy Policy</h1>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row" style="color: black">
              <ul class="list-inline" style="color: black">
                <li><a href="/" style="color: black">Home</a></li>
                <li style="color: black">Privacy Policy</li>
              </ul>
            </div>
            <!-- Breadcrumb row END -->
          </div>
        </div>
      </div>
      <!-- inner page banner END -->
      <div class="content-block">
        <div class="section-full content-inner overlay-white-middle">
          <div class="container">
            <div class="align-items-center m-b50">
              <h3 class="fw4">What information do we collect?</h3>

              <div class="m-b15">
                <li>
                  We collect information from you when you register on the site,
                  place an order, enter a
                </li>
                <li>
                  contest or sweepstakes, respond to a survey or communication
                  such as email, or
                </li>
                <li>participate in another site feature.</li>
                <li>
                  When ordering or registering, we may ask you for your name,
                  email address, mailing
                </li>
                <li>
                  address, phone number, credit card information or other
                  information. You may, however,
                </li>
                <li>visit our site anonymously.</li>
                <li>
                  We also collect information about gift recipients so that we
                  can fulfill the gift purchase.
                </li>
                <li>
                  The information we collect about gift recipients is not used
                  for marketing purposes.
                </li>
                <li>
                  Like many websites, we use “cookies” to enhance your
                  experience and gather
                </li>
                <li>
                  information about visitors and visits to our websites. Please
                  refer to the “Do we use
                </li>
                <li>
                  ‘cookies’?” section below for information about cookies and
                  how we use them.
                </li>
              </div>

              <h3 class="fw4">How do we use your information?</h3>

              <p class="m-b15">
                We may use the information we collect from you when you
                register, purchase products, enter a contest or promotion,
                respond to a survey or marketing communication, surf the
                website, or use certain other site features in the following
                ways:
              </p>

              <div class="m-b15">
                <li>
                  To personalize your site experience and to allow us to deliver
                  the type of content and
                </li>
                <li>product offerings in which you are most interested.</li>
                <li>
                  To allow us to better service you in responding to your
                  customer service requests.
                </li>
                <li>To quickly process your transactions.</li>
                <li>
                  To administer a contest, promotion, survey or other site
                  feature.
                </li>
                <li>
                  If you have opted-in to receive our email newsletter, we may
                  send you periodic emails. If
                </li>
                <li>
                  you would no longer like to receive promotional email from us,
                  please refer to the “How
                </li>
                <li>
                  can you opt-out, remove or modify information you have
                  provided to us?” section below.
                </li>
                <li>
                  If you have not opted-in to receive email newsletters, you
                  will not receive these emails.
                </li>
                <li>
                  Visitors who register or participate in other site features
                  such as marketing programs and
                </li>
                <li>
                  ‘members-only’ content will be given a choice whether they
                  would like to be on our email
                </li>
                <li>list and receive email communications from us.</li>
              </div>

              <h3 class="fw4">How do we protect visitor information?</h3>
              <p class="m-b15">
                We implement a variety of security measures to maintain the
                safety of your personal information. Your personal information
                is contained behind secured networks and is only accessible by a
                limited number of persons who have special access rights to such
                systems, and are required to keep the information confidential.
                When you place orders or access your personal information, we
                offer the use of a secure server. All sensitive/ credit
                information you supply is transmitted via Secure Socket Layer
                (SSL) technology and then encrypted into our databases to be
                only accessed as stated above.
              </p>

              <h3 class="fw4">Do we use “cookies”?</h3>

              <p class="m-b15">
                Yes. Cookies are small files that a site or its service provider
                transfers to your computer’s hard drive through your Web browser
                (if you allow) that enables the site’s or service provider’s
                systems to recognize your browser and capture and remember
                certain information. For instance, we use cookies to help us
                remember and process the items in your shopping cart. They are
                also used to help us understand your preferences based on
                previous or current site activity, which enables us to provide
                you with improved services. We also use cookies to help us
                compile aggregate data about site traffic and site interaction
                so that we can offer better site experiences and tools in the
                future. We may contract with third-party service providers to
                assist us in better understanding our site visitors. These
                service providers are not permitted to use the information
                collected on our behalf except to help us conduct and improve
                our business. You can choose to have your computer warn you each
                time a cookie is being sent, or you can choose to turn off all
                cookies. You do this through your browser (like Netscape
                Navigator or Internet Explorer) settings. Each browser is a
                little different, so look at your browser Help menu to learn the
                correct way to modify your cookies. If you turn cookies off, you
                won’t have access to many features that make your site
                experience more efficient and some of our services will not
                function properly. However, you can still place orders over the
                telephone by contacting customer service.
              </p>

              <h3 class="fw4">
                Do we disclose the information we collect to outside parties?
              </h3>
              <p class="m-b15">
                We do not sell, trade, or otherwise transfer to outside parties
                your personally identifiable information unless we provide you
                with advance notice, except as described below. The term
                “outside parties” does not include Vish Consulting Services,
                Inc. It also does not include website hosting partners and other
                parties who assist us in operating our website, conducting our
                business, or servicing you, so long as those parties agree to
                keep this information confidential. We may also release your
                information when we believe release is appropriate to comply
                with the law, enforce our site policies, or protect ours or
                others’ rights, property, or safety. However, non-personally
                identifiable visitor information may be provided to other
                parties for marketing, advertising, or other uses.
              </p>

              <h3 class="fw4">
                How can you opt-out, remove or modify information you have
                provided to us?
              </h3>

              <p class="m-b15">
                To opt-out, remove, or modify information, please email
                register@vishusa.com. Please note that we may maintain
                information about an individual sales transaction in order to
                service that transaction and for record keeping.
              </p>

              <h3 class="fw4">Third party links</h3>

              <p class="m-b15">
                In an attempt to provide you with increased value, we may
                include third party links on our site. These linked sites have
                separate and independent privacy policies. We therefore have no
                responsibility or liability for the content and activities of
                these linked sites. Nonetheless, we seek to protect the
                integrity of our site and welcome any feedback about these
                linked sites (including if a specific link does not work).
              </p>

              <h3 class="fw4">Questions and feedback</h3>

              <p class="m-b15">
                We welcome your questions, comments, and concerns about privacy.
                Please send us any and all feedback pertaining to privacy, or
                any other issue.
              </p>

              <h3 class="fw4">Online Policy Only</h3>

              <p class="m-b15">
                This online privacy policy applies only to information collected
                through our website and not to information collected offline.
              </p>

              <h3 class="fw4">Your consent</h3>

              <p class="m-b15">
                By using our site, you consent to our privacy policy.
              </p>

              <h3 class="fw4">Notice of Privacy Practices</h3>

              <p class="m-b15">
                Please note that we maintain paper & electronic files that may
                contain private information about you that may include, but are
                not limited to your name, address, phone number, contact person,
                height & weight, diagnosis, prognosis, physician(s),
                prescriptions, plans of service & treatment, vital signs & other
                clinical impressions, insurance coverage(s), equipment rented &
                purchased from us, credit card number(s), dates of service, etc.
                We release, transfer & disclose the above information to third
                parties to facilitate appropriate provision & review of services
                & billing for our clients of record. These files are legal
                documents & are also used for education, evaluating the
                performance of our organization, marketing & planning purposes.
                We have measures in place to protect patient health information
                as required by law. These measures include, but are not limited
                to, security precautions being in place in our buildings,
                vehicles, billing software, transactions with government
                entities, vendors, consultants, surveyors, your family or
                appointed representative & other appropriate parties,
                transmission of data to third-parties, telephonic & wireless
                communications, maintenance, retention & destruction of data,
                etc. You have the right to amend, restrict, revoke consent to
                release, examine or obtain copies of the data that we have in
                your file & have released to others upon request. If you have
                questions concerning any of the above, please contact our
                company at info@vishusa.com or call us 916-800-3762
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- contact area END -->
    </div>
    <!-- Content END-->
    <button class="scroltop fa fa-chevron-up"></button>
  </div>
</body>
