<body id="bg">
    <div class="page-wraper">

        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="dez-bnr-inr overlay-black-middle"
                style="background-image:url(../assets/images/banner/about_us_banner.png);">
                <div class="container">
                    <div class="dez-bnr-inr-entry">
                        <h1 class="text-dark">About Us</h1>
                        <!-- Breadcrumb row -->
                        <div class="breadcrumb-row" style="color: black;">
                            <ul class="list-inline" style="color: black;">
                                <li><a href="#" style="color: black;">Home</a></li>
                                <li style="color: black;">About Us</li>
                            </ul>
                        </div>
                        <!-- Breadcrumb row END -->
                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
            <div class="content-block">

                <div class="section-full content-inner overlay-white-middle">
                    <div class="container">
                        <div class="row align-items-center m-b50">
                            <div class="col-md-12 col-lg-6 m-b20">
                                <h2 class="m-b5">About Us</h2>
                                <h3 class="fw4">A leading provider in Recruitment and Staffing Services</h3>
                                <p class="m-b15">Since 2011 Vish Consulting Services, Inc has been providing staffing
                                    services to medical providers/facilities and Information Technology Clients, across
                                    the USA, in need of qualified resources. </p>

                                <p class="m-b15">As a nursing agency, the agency successfully places qualified staff in
                                    hospitals, nursing homes, ambulatory care, correctional facilities, group homes,
                                    schools and other specialties.</p>

                                <p class="m-b15">Vish Consulting Services is committed to providing quality services,
                                    with appropriately credentialed and qualified staff in all clinical specialties
                                    (i.e., ICU, ER, Med/surg, Behavioral Health, OR, Telemetry, PACU, Pediatrics, Long
                                    Term Care, Corrections etc.).</p>

                                <p class="m-b15">We offer a variety of highly sought-after positions for RNs, LPN’s,
                                    CNA’s, Technician’s, Technologist’s, Therapist’s and other healthcare workers in
                                    some of the most prestigious health care systems across the United States.</p>

                                <p class="m-b15">As an IT staffing and Recruitment Agency, the agency successfully
                                    provides qualified staff with diverse technology/skills to clients in many domains
                                    like healthcare, Pharma, Life Science, Banking, Cloud services, Infrastructure,
                                    security etc.</p>

                                <p class="m-b15">Vish Consulting Services is committed to providing quality services,
                                    with well screened IT resources motivated to make a positive change in IT systems.
                                    We offer a variety of highly sought after positions for BA, QA, Testing, Developers,
                                    Architects, Project Manager across the United States.</p>

                                <p class="m-b15">At Vish Consulting Services, Inc we respect and value individual
                                    contributions and are fully supportive of each person’s professional goals. We
                                    invite you to experience the difference and participate with us in serving the
                                    community.</p>

                                <p class="m-b15">Vish Consulting Services, Inc. commitment towards inclusion across
                                    race, gender, age, religion, identity, and experiences drive us forward every day.
                                    It fuels our innovation and connects us closer to our clients and the communities we
                                    serve.
                                </p>


                            </div>
                            <div class="col-md-12 col-lg-6">
                                <img src="../assets/images/our-work/Nursing-jobs.jpg"
                                    alt="We provide healthcare staff like Registered Nurse"
                                    title="We provide healthcare staff like Registered Nurse, LPN, Lab Technologist, LMSW, IT Engineer, Software dev" />
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- contact area END -->
        </div>
        <!-- Content END-->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
</body>