<app-page-header heading="Research" subheading=""></app-page-header>
<div class="relative overflow-hidden bg-white">
  <div
    class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]"
  >
    <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
      <svg
        class="absolute top-12 left-full translate-x-32 transform"
        width="404"
        height="384"
        fill="none"
        viewBox="0 0 404 384"
      >
        <defs>
          <pattern
            id="74b3fd99-0a6f-4271-bef2-e80eeafdf357"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-gray-200"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="384"
          fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"
        />
      </svg>
      <svg
        class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform"
        width="404"
        height="384"
        fill="none"
        viewBox="0 0 404 384"
      >
        <defs>
          <pattern
            id="f210dbf6-a58d-4871-961e-36d5016a0f49"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-gray-200"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="384"
          fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"
        />
      </svg>
      <svg
        class="absolute bottom-12 left-full translate-x-32 transform"
        width="404"
        height="384"
        fill="none"
        viewBox="0 0 404 384"
      >
        <defs>
          <pattern
            id="d3eb07ae-5182-43e6-857d-35c643af9034"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-gray-200"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="384"
          fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"
        />
      </svg>
    </div>
  </div>
  <section class="section-container">
    <div class="mx-auto max-w-prose text-lg">
      <h1 class="typog_h2 text-gray-900">Clinical Study-1</h1>
      <figure class="py-2 md:py-10">
        <img
          class="w-full rounded-lg"
          src="../../assets/images/main/Patient-Discharge-RN.jpeg"
          alt=""
          width="1310"
          height="873"
        />
      </figure>
    </div>
    <div class="prose prose-lg prose-indigo mx-auto mt-6 text-gray-600">
      <p class="font-bold">
        Dynamics of patient satisfaction and patient revisits
      </p>

      <p>
        Understanding the dynamics of patient satisfaction and patient revisits
        proved essential. Nurses are professionals who are in more contact with
        patients than other medical workers, which impacts patient satisfaction.
        Thus, finding a model that ensures medical services quality, patient
        satisfaction, and intent of visiting is necessary. The case study will
        reveal that efforts such as nurses showing kindness and consideration,
        technical and functional quality, and a proper physical environment
        improve the three factors.
      </p>
      <p class="font-bold">The Problem</p>
      <p>
        There existed a problem regarding medical service quality, patient
        satisfaction, and intent of patient visits when providing an appropriate
        link among the three could improve outcomes. Medical environments came
        out as the working environments where nurses bring out their best. One
        of the reasons why nurses are essential in medical settings is their
        skill set. Nurses can perform various roles, including leadership,
        medical administration, diagnosis, and discharge. In this regard, it
        became essential to find out how nurses can ensure that patients
        experience quality services, get satisfied, and have positive intentions
        on visits. The challenge came when medical environments had trouble
        balancing the three concepts. In many ways, medical service quality and
        patient satisfaction appear detached. However, they coexist, and that
        means finding a way that the two interact. Nurses can be essential
        parties to the process, although it is evident that they will need
        interprofessional collaboration. Take the case when nurses might not
        know the extent of interprofessional collaboration to ensure medical
        service quality. However, the case study provided answers such as
        pegging healthcare quality on “professional skills of the healthcare
        provider” (Woo, & Choi, 2021). Nurses can ensure professionalism since
        that will contribute toward patient satisfaction. The impact on improved
        intent of patient visits will then become possible.
      </p>
      <p class="font-bold">The Intent of the Case Study</p>
      <p>
        That said, the case study will expose essential parts that nurses can
        use to improve the wellbeing of patients. Patients came out as the
        primary reasons why nurses and other clinical workers work. Achieving
        patient needs became one of the essential goals of nursing. The roles
        extend to caring for caregivers. That said, patient needs include
        quality medical services, patient satisfaction, and intent of patient
        visits. The case study will offer a model that will harmonize efforts to
        ensure the three goals get achieved. Nurses should understand that
        patient satisfaction encourages patients to revisit the institution
        (Woo, & Choi, 2021). The satisfaction then emanates from quality
        services. As pointed in the roles of nurses above, nurses need to
        provide that they excel in their skills set in one way or another. The
        case study will show specific ways nurses and other medical
        professionals can solve the dilemma.
      </p>
      <p class="font-bold">The Solutions</p>
      <p class="font-bold">Kindness and Consideration</p>
      <p>
        Kindness and consideration became an essential part that nurses can play
        to ensure quality medical services. Kindness and consideration varied in
        many ways. Woo, & Choi (2021) stated that kindness and consideration
        looked into the attitudes of medical workers and the consideration of
        staff. Nurses need to show a positive attitude when dealing with
        patients. Showing that they are kind and empathetic toward what the
        patient went through enhanced the quality of nursing services. Nurses
        should not risk appearing unkind, significantly when affected by
        compassion fatigue. Nurses become prone to appearing unfriendly in ER
        environments. In such cases, some psych assistance would help. Also,
        nurses need to become considerate in their work settings. Considerate
        nurses tend to understand some shortcomings that patients might have.
        The shortcoming includes them not accurately knowing their medical
        history, perhaps due to pain experienced at the time. By showing
        kindness and consideration, nurses lead to an improved medical services
        quality that enhances patient satisfaction. The model proposed also
        required the provision of quality work.
      </p>
      <p class="font-bold">Quality Work</p>
      <p>
        The effectiveness of any professional gets rooted in their
        professionalism and skill set. Nurses who receive adequate education and
        training can provide quality work deliveries depending on their
        deliveries. Nurses perform several relatively complex tasks such as
        removing catheters, caring for wounds, administering medication using
        syringes, and participating in diagnosis. The case study showed that
        medical personnel should present with technical and functional quality
        as perceived by the patient (Woo, & Choi, 2021). Patients who feel that
        their nurses attain the necessary quality will be satisfied with the
        services offered. The medical environment appeared sensitive, and
        patients and caregivers sought the best services. The sensitivity of a
        human being’s health should not be taken lightly. Nurses can add to
        their technical and functional quality by responding to patients’
        questions and understanding the problem. Such factors appear important
        primarily in ICU and ER environments when caregivers panic.
      </p>
      <p class="font-bold">Physical Environment</p>
      <p>
        The physical environment where the nurses work held a lot of potential
        regarding improving patient satisfaction and enhancing their chances of
        revisiting. The physical environment ranged from cleanliness to the
        effectiveness of equipment. It is essential to note that these analyses
        happen from the perspective of the patient. When patients feel that the
        physical environment is clean and welcoming, they get even more
        satisfied with their services. The impact comes when the patients will
        resonate more with nursing services and perceive them as quality. The
        impact led to the intent of visit in case of issues later or if they get
        an appointment. Thus, nurses became essential parties to the process
        when they contribute to the behavioral nature of patients concerning
        receiving treatment.
      </p>
      <p class="font-bold">Recommendations for Practice</p>
      <p>
        That said, the case study showed that nurses could apply the three
        recommendations to ensure that patients receive appropriate quality and
        become intentional about revisits. Take the case when nurses should show
        kindness and consideration in their work environment. When patients feel
        that the nurse who served them presented with technical and functional
        quality, they will perceive the medical services as entailing quality.
        Thus, nurses should look into that. Third, nurses should ensure a proper
        physical environment by providing cleanliness and available working
        equipment to assure patient satisfaction and revisits.
      </p>
      <p class="font-bold">References</p>
      <p>
        Woo, S., & Choi, M. (2021). Medical service quality, patient
        satisfaction and intent to revisit: Case study of public hub hospitals
        in the Republic of Korea. PLOS ONE, doi: dx.doi.org/
        10.1371%2Fjournal.pone.0252241
      </p>
    </div>
    <div class="mx-auto max-w-prose text-lg mt-8">
      <h1 class="typog_h2 text-gray-900">Clinical Study-2</h1>
      <figure class="py-2 md:py-10">
        <img
          class="w-full rounded-lg"
          src="../../assets/images/main/Patient-Discharge-Nurse.jpeg"
          alt=""
          width="1310"
          height="873"
        />
      </figure>
    </div>
    <div class="prose prose-lg prose-indigo mx-auto mt-6 text-gray-600">
      <p class="font-bold">
        Reducing Patient Re-admission through Discharge Note
      </p>
      <p>
        Communication cut across all industries, and it is one of the most
        excellent tools that make the operations effective and efficient. The
        same in nursing communication is very important to the client and for
        the healing processes. The patient would need continuous updates of what
        is happening at every step and every kind of transition. One of the most
        critical communication is the Discharge Note, which ensures that the
        patient's transition plays a critical role in the patient's recovery
        process. Hospital discharge is made as a vulnerable time in a patients
        care transition (Mackles, 2020). It makes an effective execution that
        implies the client's recovery trajectory. Nurses' most important tool in
        their toolbox is to enhance patients' healing process by delivering
        communication discharge instruments for the patients. Discharge notes
        can be either wrong or practical, depending on the approach. The article
        will use a case of discharge that is wrongly done and the one right done
        as a reference point.
      </p>
      <p class="font-bold">A Scenario</p>
      <p>
        The nurse gets into the wards where Mrs Lopez is admitted, and she
        greats hers and directly tells her, hey! Mrs Lopez, you're going home
        today. Nurse: How are you, Mrs Lopez? Mrs Lopez: I'm good. Nurse: You
        are going home today; your doctor called us and told us you can be
        released. He also gave a summary of medication that you can buy at your
        near home pharmacy. As well, you can call him for the follow up of the
        clinic arrangement. Can you call your husband to come for you? Mrs.
        Lopez: On shock, really? My husband is at work, and he doesn't get off
        often. Nurse: Without much listening, she handover the discharge note
        for Lopez to sign. From the scene that makes a lousy discharge approach.
        The nurse tries to assume that patient will be good enough and excited
        to go home, and very satisfied. The reporting is not done well, and the
        transition is poor because the primary doctor is not present and the
        nurse it for granted. The whole aspect creates a dis-ease and
        uncomfortable situation for Mrs Lopez because she has no idea how she
        will get home, no explanation of best care when she is at home after
        leaving the hospital security.
      </p>
      <p class="font-bold">Risk at Discharge</p>
      <p>
        Some studies have been done, especially one by Dr Alan Foster and the
        group that found that more than 20% of the patients whore given leave
        out from a given hospital sustained worse events within 2 weeks of being
        discharged from the hospital. The study revealed that more than 400
        continuous patients’ discharged 76 had some worse condition after the
        hospital. Most of these conditions are preventable during the discharge
        by giving better instruction and a better transition process (Mackles,
        2020). The medication associated situation was the most cause of the
        worse conditions.
      </p>
      <p>
        Another study conducted by Jenk Williams and Coleman from the Medicare
        patients given the leave out from hospital showed that 19.5% of 11855
        patients needed re-admission in 30 days. More than 34% went for
        readmission within 90 days. Readmission can have cost consequences which
        can be controlled when the proper discharge is done. From the study,
        $17.4 billion was being paid annually for the readmission. With such
        information, the hospital and nurses must optimize patients' discharges
        to improve their care.
      </p>
      <p>
        Other issues which face the discharged patients and their care providers
        from the hospital are. In most cases, the results are likely to be lost
        in the wash and not subjected upon. The patients may also be scheduled
        to come for the more outpatient tests and diagnostic which they never
        show up even after phone calls and reminders.
      </p>
      <p>
        An evaluation of more than 2644 patients in Brigham and Women's Hospital
        in Boston showed that they had a pending laboratory and radiologic
        tests. The study showed that only 40% of the patient came back for the
        remaining tests, and 10% of those findings were potentially actionable
        (Ross, 2020). The physicians who have the pending results to give were
        also tested, and out of 105, 61%, which is 65 of the physicians, could
        not remember they had pending results to give the clients. The results
        indicated that out of the forgotten 65 results, 24 were actionable, and
        8 needed fast attention.
      </p>
      <p class="font-bold">So what makes good practice?</p>
      <p>
        A successful discharge note is significant to the continued healing of
        the patient and the provision of post-discharge care. The discharge
        dialogue must be initiated by the clinician attending the patient and
        the nurse in charge of discharging the patient. The discharge must have
        good information that assures the patient a safe denature from the
        hospital and well-structured follow-up. It is imperative to initiate a
        family member or the caretaker or an engagement of a home health aide in
        the conversation (Ross, 2020). There are several things that the patient
        must understand, first the reason for the current situation, for
        example, surgical and things that transpired during the hospital period.
        Second, a patient must understand their medical condition and things to
        follow the outpatient. The patient must receive warnings and signs of
        adverse conditions which could come along. The patient must be given
        emergency contact that is available in 24 hours, the care provider's
        name after discharge bearing name, address, and phone number.
      </p>
      <p class="font-bold">Good Discharge Note Scenario</p>
      <p>
        Discharge Planner: Mrs Lopez sometimes at the hospital, things can be
        confusing when the discharge is being done, especially when the patient
        has some severe conditions, but I am here to make sure that you are okay
        with each plan that should be followed. Kindly tell me a brief review of
        what doctor you will be seeing and the date of appointment. Mrs Lopez;
        Yes, I got as scheduled with Dr Fernandez at 9.00 am on Tuesday.
        Discharge Planner: How will you get to the appointment? Mrs Lopez: My
        husband is available and will bring me in his car; alternatively, we
        have a home driver who will drive me. Discharge Planner: Any medicine
        that you will be taking home? How will reach the prescription be filled,
        and do you know the purpose of the medication? Mrs Lopez: The
        prescription has been handed over to me. The medicine is for a diuretic
        to control high BP. I will take a pill each day, and we can access it
        from 45th street.
      </p>
      <p class="font-bold">Conclusion</p>
      <p>
        Generally, to improve the patient care outcome and reduce the rate of
        readmission, the patient must be given a good guide and good transition.
        The discharge must cover all perspectives of recovery using the
        Teach-Back technique to deliver constructive dismissal with all
        information like the medication, schedules, diets and best practices.
        During this time, it is easier to use the Internet of Things, Health
        Apps to ensure that the patient gets the best discharge note and
        continues alerting of what to do for a full recovery. In case of low
        literacy, the planner can add pictures, videos, simulations of the
        discharge and use of a 3-model.
      </p>
      <p class="font-bold">References and Further Reading</p>
      <p>
        Mackles, A., 2020 Discharge instructions for patients: Best practices.
        Discharge Instructions for Patients: Best Practices. Available at:
        https://blog.thesullivangroup.com/dischargeinstructions-for-patients-best-practices
        Ross MD, S.M., 2020. What should be included in a hospital discharge
        summary? Blog. Available at:
        https://blog.cureatr.com/what-should-be-included-in-a-hospital-dischargesummary
      </p>
    </div>
  </section>
</div>
<app-cta></app-cta>
