<body id="bg">
  <div class="page-wraper">
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- inner page banner -->
      <div
        class="dez-bnr-inr overlay-black-middle"
        style="
          background-image: url(../assets/images/banner/business_banner.png);
        "
      >
        <div class="container">
          <div class="dez-bnr-inr-entry">
            <h1 class="text-dark">Client & Partners</h1>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row" style="color: black">
              <ul class="list-inline" style="color: black">
                <li><a href="#" style="color: black">Home</a></li>
                <li style="color: black">Client & Partners</li>
              </ul>
            </div>
            <!-- Breadcrumb row END -->
          </div>
        </div>
      </div>
      <!-- inner page banner END -->
      <div class="content-block">
        <div class="section-full content-inner overlay-white-middle">
          <div class="container">
            <div class="section-head text-black text-center">
              <h2 class="text-uppercase m-b0">Our clients</h2>
              <p>
                We assist you through every step in finding and hiring the right
                person for your business
              </p>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">Supplier to MSPs/VMS</h2>
                <p class="m-b15">
                  We have collaborated with the top 10+ MSPs in the country to
                  cater to their respective clients’ needs. Our teams are fully
                  trained on extensive and unique on-boarding requirements of
                  100+ facilities/Hospitals. We guarantee profile submission
                  within 48 hours of an opening. We do the heavy lifting –
                  recruiting, licensing, background verifications, on-boarding
                  medical certifications and skill assessments.
                </p>
              </div>
              <div class="col-md-12 col-lg-6">
                <img
                  src="../assets/images/our-work/supplier-MSP-VMS.jpg"
                  alt="Supplier to MSPs/VMS"
                  title="Supplier to MSPs/VMS"
                />
              </div>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6">
                <img
                  src="../assets/images/our-work/Healthcare.jpg"
                  alt="We serve Healthcare"
                  title="We serve Healthcare"
                />
              </div>
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">Healthcare provider networks</h2>
                <p class="m-b15">
                  We assist our partnered provider networks to streamline their
                  permanent workforce planning. All the permanent/Contract staff
                  are thoroughly vetted, and background checked. Our model
                  allows our partners scale their staffing needs to align with
                  their rapid growth.
                </p>
              </div>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">Senior/Nursing Care Facilities</h2>
                <p class="m-b15">
                  Our independent and highly experienced per diem nurse network
                  is currently serving 30+ senior care centers across the
                  country. Every supplied resource has extensive experience in
                  serving senior care homes for at least a decade.
                </p>
              </div>

              <div class="col-md-12 col-lg-6">
                <img
                  src="../assets/images/our-work/senior-Nursing-Care.jpeg"
                  alt="We serve Healthcare"
                  title="We serve Healthcare"
                />
              </div>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6">
                <img
                  src="../assets/images/our-work/IT.jpg"
                  alt="Infrastructure IT domains"
                  title="infrastructure IT domains"
                />
              </div>
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">Tech firms</h2>
                <p class="m-b15">
                  Transformational technologies demand equally transformative
                  partnerships. We have partnered with major boutique tech firms
                  across the country to develop and implement some of the most
                  innovative and cutting-edge technologies. All supplied
                  resources are hand-picked from the industry with diverse skill
                  sets in machine learning, Artificial Intelligence, Blockchain,
                  Cybersecurity, Big data, RDBMS, Cloud computing, Java
                  technologies, .net technologies and Python programming.
                </p>
              </div>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">Implementation partners</h2>
                <p class="m-b15">
                  Our resources will help you develop and enhance the processes
                  of Initiating, Planning, Executing, Monitoring, Controlling,
                  and Closing a project, placing emphasis on balancing scope,
                  resources, and schedule to deliver a project’s requirements
                  on-time and on-budget. Our combination of training, deployment
                  planning, and consulting services has helped organizations
                  completely convert their product development approaches to
                  Agile, resulting in significant speed to value.
                </p>
              </div>

              <div class="col-md-12 col-lg-6">
                <img
                  src="../assets/images/our-work/Finance.jpg"
                  alt="banking/Finance"
                  title="banking/Finance"
                />
              </div>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6">
                <img
                  src="../assets/images/our-work/finance-banking.png"
                  alt="banking/Finance"
                  title="banking/Finance"
                />
              </div>
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">Domain</h2>
                <p class="m-b15">
                  We are Experinced to support our client from diverse business
                  domain to align the business solution to best possible
                  technology solution to provide better services. We have helped
                  our clients in Healthcare, Pharmaceutical, Life Science,
                  Banking, retail, Infrastructure and Airline.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contact area END -->
    </div>
    <!-- Content END-->
    <button class="scroltop fa fa-chevron-up"></button>
  </div>
</body>
