.overlay-black-dark:after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#192665+0,09123f+49,222845+100 */
	/* background: rgb(25,38,101); 
	background: -moz-radial-gradient(center, ellipse cover, rgba(25,38,101,1) 0%, rgba(9,18,63,1) 49%, rgba(34,40,69,1) 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(25,38,101,1) 0%,rgba(9,18,63,1) 49%,rgba(34,40,69,1) 100%); 
	background: radial-gradient(ellipse at center, rgba(25,38,101,1) 0%,rgba(9,18,63,1) 49%,rgba(34,40,69,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192665', endColorstr='#222845',GradientType=1 );  */
}