<main class="bg-white">
  <section class="section-hero">
    <div class="image-container">
      <img
        class="image"
        src="../../../../assets/web-images/main/vcs_main_image.jpg"
        alt="Elite Mente"
      />
      <div class="image-tint"></div>
    </div>
    <div class="text-container">
      <h1 class="tyopg_h1">
        <span class="title">Elite Mente LLC.</span>
        <span class="subtitle">A Vish Consulting Services Company</span>
      </h1>
      <p class="subtitle-2">
        Leading Provider of Staffing & Recruitment Services
      </p>
      <div class="action-button">
        <app-buttons
          label="View All Jobs"
          [hasIcon]="false"
          buttonType="secondary"
          routerLink="/jobs"
          size="lg"
        ></app-buttons>
      </div>
    </div>
  </section>
  <section class="section-container">
    <div class="relative mx-auto">
      <div class="cards-grid-3-container">
        <div class="image-card">
          <div class="flex-shrink-0">
            <img
              class="image"
              src="../../../../assets/web-images/main/staffing_work_img.jpg"
              alt=""
            />
          </div>
          <div class="body">
            <div class="flex-1">
              <p class="title">Our Expertise</p>
              <p class="content">
                Focusing on manufacturing organizations we provide your
                workforce with the skilled labor and office/administrative roles
                that are crucial to your business. Navigate through staffing
                peaks with ease as we connect you with hard to find seasonal
                workers.
              </p>
            </div>
          </div>
        </div>

        <div class="image-card">
          <div class="flex-shrink-0">
            <img
              class="image"
              src="../../../../assets/web-images/main/business_main_page.jpg"
              alt=""
            />
          </div>
          <div class="body">
            <div class="flex-1">
              <p class="title">Clients &amp; Partners</p>
              <p class="content">
                By offering an array of services working within our clients
                budgets, we are able to provide top candidates and incredible
                business solutions to meet our clients needs.
              </p>
            </div>
          </div>
        </div>

        <div class="image-card">
          <div class="flex-shrink-0">
            <img
              class="image"
              src="../../assets/web-images/main/job-seeker.jpg"
              alt=""
            />
          </div>
          <div class="body">
            <div class="flex-1">
              <p class="title">Jobs</p>
              <p class="content">
                Enhance your career with Elite Mente!  Check out our latest
                jobs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-12">
    <div class="relative mx-auto">
      <div class="mx-auto md:max-w-[100rem]">
        <div class="d-flex job-title-bx section-head">
          <div class="mr-auto">
            <h2 class="typog_h3">Recent Jobs</h2>
            <h6 class="text-gray-600">20+ recently added jobs</h6>
          </div>
          <div class="align-self-end">
            <app-buttons
              label="Browser all jobs"
              iconLocation="right"
              [hasIcon]="true"
              size="normal"
              routerLink="jobs"
              buttonType="transparent"
              iconType="chevron_right"
            ></app-buttons>
          </div>
        </div>
        <div class="row">
          <ng-container *ngIf="allJobs.length === 0">
            <div class="relative pb-16 text-gray-500">
              No jobs are listed currently
            </div>
          </ng-container>
          <ng-container *ngIf="allJobs.length">
            <div class="w-full">
              <ul class="post-job-bx browse-job">
                <li *ngFor="let data of allJobs; index as i">
                  <div class="post-bx">
                    <div class="d-flex m-b30">
                      <div class="job-post-company">
                        <span
                          ><img
                            alt=""
                            src="../../assets/images/logo/icon1.png"
                        /></span>
                      </div>
                      <div class="job-post-info">
                        <h4>
                          <a href="javascript:void(0);" (click)="goTo(data)">{{
                            data.job_title
                          }}</a>
                        </h4>
                        <ul>
                          <li>
                            <i class="fa fa-map-marker"></i> {{ data.city }},
                            {{ data.state }}
                          </li>
                          <li *ngIf="data.position_type_name">
                            <i class="fa fa-bookmark-o"></i>
                            {{ data.position_type_name }}
                          </li>
                          <li>
                            <i class="fa fa-clock-o"></i> Published
                            {{ data.job_post_date }}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="job-time mr-auto" *ngIf="data.job_type_name">
                        <a href="javascript:void(0);"
                          ><span>{{ data.job_type_name }}</span></a
                        >
                      </div>
                      <div class="mr-auto" *ngIf="!data.job_type_name">
                        <span></span>
                      </div>

                      <div class="salary-bx">
                        <span
                          >${{ data.regular_pay }} - ${{
                            data.blended_pay
                          }}
                          /hr</span
                        >
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
  <app-cta></app-cta>
</main>
