<!-- Footer -->
<footer class="site-footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
          <div class="widget">
            <img
              src="../assets/images/logo.png"
              width="180"
              class="m-b15"
              alt=""
            />
            <p class="text-capitalize m-b20">
              The fastest growing Recruitment and Staffing partner in USA.
            </p>
            <!-- <div class="subscribe-form m-b20">
                            <form class="dzSubscribe" action="script/mailchamp.php" method="post">
                                <div class="dzSubscribeMsg"></div>
                                <div class="input-group">
                                    <input name="dzEmail" required="required" class="form-control"
                                        placeholder="Your Email Address" type="email">
                                    <span class="input-group-btn">
                                        <button name="submit" value="Submit" type="submit"
                                            class="site-button radius-xl">Subscribe</button>
                                    </span>
                                </div>
                            </form>
                        </div> -->
            <!-- <ul class="list-inline m-a0">
                            <li><a href="javascript:void(0);" class="site-button white facebook circle "><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0);" class="site-button white google-plus circle "><i
                                        class="fa fa-google-plus"></i></a></li>
                            <li><a href="javascript:void(0);" class="site-button white linkedin circle "><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a href="javascript:void(0);" class="site-button white instagram circle "><i
                                        class="fa fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);" class="site-button white twitter circle "><i
                                        class="fa fa-twitter"></i></a></li>
                        </ul> -->
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
          <div class="widget border-0">
            <h5 class="m-b30 text-white">COMPANY AND PROFESSIONAL</h5>
            <ul class="list-2 list-line">
              <li><a href="/">Home</a></li>
              <li><a href="/about-us">About Us</a></li>
              <li><a href="/healthcare-blogs">Blog</a></li>
              <li><a href="/contact-us">Contact Us</a></li>
              <li>
                <a href="/healthcare-staffing">Our Healthcare Services</a>
              </li>
              <li><a href="/clients">Clients & Partners</a></li>
              <li><a href="/jobs">Jobs</a></li>
              <li><a href="/IT_services">Our IT Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
          <div class="widget border-0">
            <h5 class="m-b30 text-white">LEGAL</h5>
            <ul class="list-2 w10 list-line">
              <li><a href="/terms-of-service">Terms of Service</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer bottom part -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <span>
            © Copyright 2021 by
            <a href="" target="_blank">Vish Consulting Services, Inc, </a> All
            rights reserved.</span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer END -->
