<body id="bg">
    <div class="page-wraper">

        <!-- Content -->
        <div class="page-content">
            <!-- inner page banner -->
            <div class="dez-bnr-inr jobs-category overlay-black-middle"
                style="background-image:url(../assets/images/banner/checklist_banner.png);">
                <div class="container">
                    <div class="dez-bnr-inr-entry">
                        <h2 style="color:white;">FAQ</h2>
                        <!-- Breadcrumb row -->
                        <div class="breadcrumb-row">
                            <ul class="list-inline">
                                <li><a href="#">Home</a></li>
                                <li>FAQ</li>
                            </ul>
                        </div>
                        <!-- Breadcrumb row END -->

                    </div>
                </div>
            </div>
            <!-- inner page banner END -->
            <!-- contact area -->
            <div class="content-block">
                <!-- Browse Jobs -->
                <div class="section-full content-inner jobs-category-bx">
                    <div class="container">

                        <h5>1. Payroll and Accounts Related Information</h5>

                        <div class="dez-post-media dez-img-effect"> <img
                                src="../assets/images/our-work/Nurse-Payroll.jpeg"
                                alt="Services to keep happy nursing staff" title="Services to keep happy nursing staff">
                        </div>

                        <div>
                            <h5>Q1) When will I get paid?</h5>
                            <p>Every following Friday. The work week starts on Sunday and ends on Saturday. Every
                                employee is expected to share their approved time no later than following Wednesday to
                                ensure guaranteed paycheck on the upcoming Friday. In the below scenario - all billed
                                hours for the week 1st through 7th of the month shall be paid on 14th of the month.</p>
                            <p>Sun &nbsp;&nbsp; Mon &nbsp;&nbsp; Tue&nbsp;&nbsp; Wed &nbsp;&nbsp; Thur &nbsp;&nbsp; Fri
                                &nbsp;&nbsp; Sat</p>
                            <p>1&nbsp;&nbsp; 2 &nbsp;&nbsp;3 &nbsp;&nbsp; 4 &nbsp;&nbsp; 5 &nbsp;&nbsp; 6 &nbsp;&nbsp; 7
                            </p>
                            <p>8 &nbsp;&nbsp;9 &nbsp;&nbsp; 10 &nbsp;&nbsp; 11 &nbsp;&nbsp; 12 &nbsp;&nbsp; 13
                                &nbsp;&nbsp; 14</p>

                            <h5>Q2) How will I share my timesheets?</h5>
                            <p>Every employee is recommended to follow the respective guidelines of the facility to
                                clock in-out hours on the available system - Kronos etc. Our payroll department would
                                expect the employees to share the picture of their Kronos in some situations to avoid
                                delays in payroll. </p>

                            <p>At certain facilities, in absence of any time tracking system, paper timesheets approved
                                and signed by the respective reporting supervisor or manager will be required. Please be
                                advised - unsigned timesheets will not be accepted by our payroll department and can
                                potentially cause delays in payroll.</p>

                            <p>Please use the preferred format for paper timesheet tracking: URL</p>

                            <h5>Q3) How do I access my pay stubs or W2 forms?</h5>
                            <p>All pay stubs and W2 forms are available on ADP (our payroll processor). Our accounts
                                team shall grant you the access to ADP (our payroll processor), at the time of your
                                first paycheck processed through our company. You shall receive an email from ADP.
                                Please follow the instructions as outlined in the email to set up an account. </p>

                            <p>If you already have an account setup and have been locked out. Please follow the
                                following steps to reset password</p>

                            <p>1. Click <a href="https://my.adp.com">https://my.adp.com</a></p>

                            <p>2. Click Forgot Your Password</p>
                            <p>3. Enter your User ID</p>
                            <p>4. Follow the instructions to answer a series of security questions</p>
                            <p>5. Note: If you do not know the answers to the security questions contact your Company
                                Payroll or HR Contact to make the change for you.</p>
                            <p>6. Create a new Password</p>
                            <p>7. Click Continue</p>

                            <h5>Q4) Will I be paid holiday rate for working on public holidays?</h5>
                            <p>Yes, some of the public holidays are eligible for Holiday rate. Please refer to your
                                contracts for the terms and conditions. Also, please check with the accounts team
                                regarding timings eligible for the higher rate; some facilities start holiday pay rate
                                at 7 PM on day prior to the holiday</p>

                            <p>New Year’s Day</p>
                            <p>Memorial Day</p>
                            <p>Independence Day</p>
                            <p>Labor Day</p>
                            <p>Thanksgiving Day</p>
                            <p>Christmas</p>

                            <h5>Q5) Will I get overtime for hours worked beyond 40 hours per week?</h5>

                            <p>Yes, all billable hours beyond 40 in a work week are eligible for OT rate. Please refer
                                to your contract for all details</p>

                            <h5>Q6) How will VCS resolve any timesheet or paycheck discrepancy?</h5>

                            <p>We have an extensive timesheet reconciliation process to ensure accurate compensation to
                                our employees for every billable hour. If any billable time is missed during payroll
                                processing, it shall be compensated through following payroll. Accounts team shall also
                                notify you detailed breakdown of the discrepancy and any further action if needed.</p>

                            <h5>Q7) Who do I contact for any payroll related queries?</h5>

                            <p>Please send all your timesheet and payroll related questions to accounts@vishusa.com Our
                                specialists shall respond through email or phone no later than 24 hours. </p>

                            <p>Please share your timesheets to the same email address.</p>
                        </div>

                        <h5>2. RN Licensing related resources</h5>

                        <div class="dez-post-media dez-img-effect"> <img src="../assets/images/our-work/NL.jpeg" alt="">
                        </div>

                        <div>
                            <p>For all RN license related questions and queries, contact your respective states’ nursing
                                board. The contact details for each state are listed on:
                                <a>https://www.ncsbn.org/contact-bon.htm</a>
                                Simply click on your state on the map to access your state nursing board’s details.
                            </p>

                            <p>Many US states (NLC) allow nurses to upgrade their single state license to a
                                multi-state/compact license participating in the program. Below are the states currently
                                participating on the multi state/compact program. For more details:
                                <a>https://www.ncsbn.org/nurse-licensure-compact.htm</a>
                            </p>

                            <div class="dez-post-media dez-img-effect"> <img src="../assets/images/our-work/faq.png"
                                    alt=""> </div>
                        </div>

                        <h5>3. Basic Life Support & Advanced Cardiovascular Life Support certification</h5>

                        <p>Many healthcare providers prefer BLS and ACLS certifications awarded by the American Heart
                            Association (AHA). Please visit the link for new application/renewals:
                            <a>https://cpr.heart.org/en</a>
                        </p>

                        <h5>4. Flu & Covid -19 vaccines</h5>

                        <p>Many facilities require healthcare workers to get vaccinated for <b>Influenza</b> and
                            <b>Covid -19</b> to
                            gain employment. <b>Many grocery store chains offer free flu shots,</b> usually within their
                            pharmacies. Contact supermarkets and grocery stores in your area to learn more about free
                            flu shots and about the steps you may need to take to get a free flu shot if you don't have
                            health insurance.
                        </p>

                        <p>You can also visit the link to access more resources: <a>https://www.vaccines.gov</a></p>
                    </div>
                </div>
                <!-- Browse Jobs END -->
            </div>
        </div>
        <!-- Content END-->

        <button class="scroltop fa fa-chevron-up"></button>
    </div>
</body>