<body id="bg">
  <div class="page-wraper">
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- inner page banner -->
      <div
        class="dez-bnr-inr overlay-black-middle"
        style="background-image: url(../assets/images/banner/IT.jpg)"
      >
        <div class="container">
          <div class="dez-bnr-inr-entry">
            <h1 class="text-white">Our IT Services</h1>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
              <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>IT Services</li>
                <li>Our IT Services</li>
              </ul>
            </div>
            <!-- Breadcrumb row END -->
          </div>
        </div>
      </div>
      <!-- inner page banner END -->
      <div class="content-block">
        <div class="section-full content-inner overlay-white-middle">
          <div class="container">
            <div class="section-head text-black text-center">
              <h2 class="text-uppercase m-b0">
                INFORMATION TECHNOLOGY STAFFING
              </h2>
              <p>#Technology to solve real life problems#BrilliantMinds#</p>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">IT staffing & recruitment</h2>
                <br />
                <p class="m-b15">SYSTEM ARCHITECTURE</p>
                <p>PROJECT MANAGEMENT</p>
                <p>SOFTWARE DEVELOPMENT</p>
                <p>SYSTEM TESTING AND QA</p>
                <p>BUSINESS ANALYSIS</p>
                <p>SYSTEM SUPPORT ENGINEER</p>
              </div>
              <div class="col-md-12 col-lg-6">
                <img
                  src="../assets/images/our-work/IT-Jobs.jpg"
                  alt="Our IT employment services"
                  title="Our IT employment services"
                />
              </div>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6">
                <img src="../assets/images/our-work/itservice2.jpg" alt="" />
              </div>
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">Our experience with IT</h2>
                <br />
                <p class="m-b15">CLOUD BASED SYSTEMS</p>
                <p>ARTIFICIAL INTELLIGENCE SYSTEMS</p>
                <p>MACHINE LEARNING SYSTEMS</p>
                <p>BIG DATA TECHNOLOGY</p>
                <p>CYBER SECURITY SYSTEMS</p>
                <p>SYSTEM DEPLOYMENT TOOLS</p>
                <p>AUTOMATION SYSTEMS</p>
                <p>LoT</p>
              </div>
            </div>

            <div class="row align-items-center m-b50">
              <div class="col-md-12 col-lg-6 m-b20">
                <h2 class="m-b5">Our domain specialization</h2>
                <br />
                <p class="m-b15">HEALTHCARE</p>
                <p>PHARMACEUTICAL/ LIFE SCIENCE</p>
                <p>INFRASTRUCTURE</p>
                <p>RETAIL</p>
                <p>BANKING/FANANCE</p>
                <p>AIRLINE</p>
              </div>

              <div class="col-md-12 col-lg-6">
                <img src="../assets/images/our-work/itservice3.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- Why Chose Us -->
      </div>
      <!-- contact area END -->
    </div>
    <!-- Content END-->
    <button class="scroltop fa fa-chevron-up"></button>
  </div>
</body>
